.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.bg-dark {
  background-color: #000 !important;
}

.cardItem:hover {

  background: orange;
  color: #fff
}

/* .iconSize1{
  font-size: 2em !important;
} */
.iconSize2{
  font-size: 1.3em !important;
}
.dev-Title {
  font-size: 14px !important;
}

/* Pantallas Granades */
/* @media only screen and (max-width: 1400px) {
  .cardItem {
    width: 10em;
    margin-left: 1.2em;
    margin-bottom: 1em;
  }


} */

/* Pantallas Medianas */
/* @media only screen and (max-width: 1280px) {
  .cardItem {
    width: 14em;
    margin-left: 2.5em;
    margin-bottom: 1em;
  }


} */

/* Pantallas Pequeñas */
/* @media only screen and (max-width: 1024px) {
  .cardItem {
    width: 17em;
    margin-left: 7.5em;
    margin-bottom: 1em;
  }


} */

/* Pantallas moviles */


/* @media only screen and (max-width: 1024px) {
  .cardItem {
    width: 12em;
    margin-left:40%;
    margin-bottom: 1em;
  }



} */